 /* all styles  */
 

 /* body */
 body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    
    color: black;
}


/* main heading */

#heading{
   font-size: 2rem;
     margin-bottom: 20px;
    color:  #ffc600;
    font-family: radnika, sans-serif;
    font-weight: bolder;
    font-style: italic;
}

#heading > div{
    margin: 0;
    height: 3px;
    background-color: white;
    transform: rotate(-3deg);
    box-shadow: 2px 0px 2px 2px #ffc600;;
}


/* heading part completes here */


/* mian container in which our app is present  */

#container{
    height: max-content;
    width: 100vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px  #ffc600,
    inset 0px 0px 2px 2px  #ffc600;
} 


/* description part */
#description-details{
    display: flex;
    justify-content: space-between;
}



/* buttons div which contain add and delete task buttons  */
#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

/* style for add and delete button tag */
button{
    border: none;
    background-color: hsla(60,50%,3%,1);
    color:  #ffc600;
    text-transform: capitalize;
    padding: 0.5rem;
    font-family: radnika, sans-serif;
    font-weight: bolder;
    font-style: italic;
    box-shadow: 0px 0px 2px 2px #ffc600;
    border-radius: 5px;
    width: 30%;
    font-size: 1.1rem;
}

button:hover{
    background-color: #ffc600;
    color:  hsla(60,50%,3%,1);
    box-shadow: 0px  0px 2px 2px black;
}


span{
    font-size: larger;
}
/* style for all input and select tags */
input, select{
    background:transparent;
    color: rgb(15, 14, 10);
    font-family: radnika, sans-serif;
    font-weight: bolder;
    font-style: italic;
    border: none;
}

/* style for input placeholders */
input::placeholder{
    font-family: monospace;
    color:gray;
    text-transform: capitalize;
}

/* this class style is for descriprion category and duedate part */
.display{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    position: relative;
    margin-left: 20px;
}

/* this style is provided to all span elements with class text  */
.text{
    text-transform: capitalize;
    padding: 0.5rem;
    font-family: radnika, sans-serif;
    font-weight: bolder;
    font-style: italic;
    z-index: 2;
}

/* this style is for empty divs ans represent a small yellow square */
.design>div{
    position: absolute;
    top: 7px;
    left: 5px;
   background-color: #ffc600;
    width: 10px;
    height: 10px;

    
}

/* keyframe for animations */
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* provided animation to add and delete task buttons */
button i{
    padding: 3px 5px;
    animation: rotate 2s ease-in-out infinite ;
}

/* setting grid display for each list item  for tasks display*/
#delete-form ul li {
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.3fr 3fr 1fr;
 
}

/* margin for all p tags */
p{
    margin: 3px;
}

/* containing tasks description and due date */
.task-details{
    display: flex;
}

/* margin set up each list item */
li{
    margin-top: 10px;
}


/* this style is for empty div present in list item */
#div1 div{
    background-color: black;
    transform: rotate(-2deg);
    border-radius: 25% 0px 4px 25%;
}

/* this style is for empty div present in list item */
#div1 div p{
    color:  #ffc600;
    font-family: candara;
    text-transform: capitalize;
    transform: rotate(2deg);
}

/* design for div2 in list item where we fetched category */
#div2{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* this is style for div which looks like a button  and shows category */
#button{
    background-color: rgb(48, 46, 46);
    width: 40%;
    height: max-content;
    color: #ffc600;
    box-shadow: 0px 0px 2px 2px  #ffc600;
    border-radius: 2px;
    font-family: "HCo Operator Mono", -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, 
    "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: capitalize;
    font-size: 0.7rem;
    font-weight: bolder;
}

#button p{
    padding: 3px;
    text-align: center;
}